.perspective-auth-base-body-el {
  background-image: url("/resources/shared/images/lock-screen-background.jpg");
  background-size: cover;

  .x-panel-body-el.perspective-auth-base-body-el {
    background-color: transparent;
  }
}
