//.perspective-auth {
//  //background-image: url('images/error-page-background.jpg');
//  background-size: cover;
//  //color: #fff;
//  color: orange;
//}
//
//.perspective-auth-top-text {
//  font-size: 10rem;
//  line-height: 20rem;
//  margin: auto;
//  background-color: #ebebeb;
//  width: 20rem;
//  border-radius: 10rem;
//  text-align: center;
//}
//.perspective-auth-desc {
//  text-align: center;
//  font-size: 1.3rem;
//}
$color-blue: dynamic(#167abc);
$color-soft-cyan: dynamic(#03b4d5);
$color-soft-blue: dynamic(#2eadf5);
$color-soft-green: dynamic(#9cc96b);
$color-soft-orange: dynamic(#ffc107);
$color-soft-red: dynamic(#e44959);
$color-soft-purple: dynamic(#925e8b);
$color-gray: dynamic(#949495);
$color-green: dynamic(#16b603);
$social-facebook-btn-background: dynamic(#167abc);
$social-twitter-btn-background: dynamic(#03b4d5);
$social-google-plus-btn-background: dynamic(#e44959);
$social-envelope-btn-background: dynamic(#7754aa);

@include button-ui(
  $ui: 'bright-blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #03a9f5,
  $border-width: 0
);

@include button-ui(
  $ui: 'round',
  $border-radius: 50%,
  $border-radius-big: 50%
);

@include button-ui(
  $ui: 'header',
  $color: #999,
  $icon-color: #999,
  $background-color: transparent,
  $border-width: 0
);

@include button-ui(
  $ui: 'blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #167abc,
  $border-width: 0
);

@include button-ui(
  $ui: 'facebook',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $social-facebook-btn-background,
  $border-color: darken($social-facebook-btn-background, 5%)
);

@include button-ui(
  $ui: 'gray-button',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #a7a7a7,
  $border-width: 0
);

@include button-ui(
  $ui: 'soft-blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-blue,
  $border-color: darken($color-soft-blue, 5%)
);

@include button-ui(
  $ui: 'soft-cyan',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-cyan,
  $border-color: darken($color-soft-cyan, 5%)
);

@include button-ui(
  $ui: 'soft-green',
  $color: #fff,
  $icon-color: #fff,
  $pressed-color: #fff,
  $background-color: $color-soft-green,
  $border-color: darken($color-soft-green, 5%)
);

@include button-ui(
  $ui: 'soft-purple',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-purple,
  $border-color: darken($color-soft-purple, 5%)
);

@include button-ui(
  $ui: 'soft-red',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-red,
  $border-color: darken($color-soft-red, 5%)
);

.perspective-auth-link {
  color: $color-soft-blue;
  text-decoration: none;
}
